.ModalDelete{

}

.confirmationText {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
    color: white;
    background-color: rgb(66 66 231);
}

.additionalText{
    margin-top: 5px;
    font-size: .8rem;
    color: rgb(205 23 23);
}