.Offcanvas {
    min-width: 50vw;
}

.header {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 1.5rem;
}

.offsetHeader{
    font-weight: bold;
    font-size: 2rem;
}

.client {
    margin-bottom: 20px;
}

.row {
    margin-top: 20px;
}

.select {
    border-width: 1px;
    border-color: #6B7280;
    border-radius: none;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #fff;
}

.abonement {
    margin-top: 40px;

}

.paid {
    font-weight: bold;
    color: darkgreen;
}

.unpaid {
    font-weight: bold;
    color: darkred;
}

.controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.artificialLabel{
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 0.5rem;
    }
}