.DashboardPage{

}

.chart {
    margin-top: 30px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
    width: 400px;
    height: 470px;
}

.chartHeader {
    margin-bottom: 20px;
    font-size: 1.5rem;
}