.DashboardPage{

}

.chart {
    margin-top: 30px;
    border: 1px dashed rgb(173 173 173);
    border-radius: 4px;
    padding: 20px;
    width: 400px;
    height: 470px;
}

.chartHeader {
    margin-bottom: 20px;
    font-size: 1.3rem;
    line-height: 1.4rem;
}

.commonStats{
    margin-top: 30px;
    border: 1px dashed rgb(173 173 173);
    border-radius: 4px;
    width: 400px;
    height: 235px;
}

.widgets{
    display: flex;
    gap: 20px
}

.mainHeader{
    font-size: 2rem;
}